:root{
    --red: #d1151e;
    --black: #000;
    --rose: #f59993;
    --skin:#fadcb6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main__container {
    width: 100vw;
    height: 100vh;
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__hair {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 300px;
}
.hair--poff {
    position: absolute;
    width: 100px;
    height: 100px;
    background: var(--black);
    border-radius: 50%;
    top: 45px;
}
.main__hair .hair--left {
    left: 45px;
}
.main__hair .hair--right {
    right: 45px;
}
.headband {
    position: absolute;
    width: 70px;
    height: 70px;
    background: var(--red);
    border-radius: 50%;
    top: 85px;
}
.headband--left  {
    left: 100px;
}
.headband--right {
    right: 100px;
}
.head {
    width: 200px;
    height: 190px;
    background: var(--black);
    border-radius: 50%;
    position: relative;
}
.face {
    width: 180px;
    height: 150px;
    border-radius: 50% 50% 45% 45% ;
    position: absolute;
    top: 30px;
    left: 10px;
    background: var(--skin);
}
.eyebrow {
      
}
.eyebrow--left {
    left: 5px;
}
.eyebrow--rigth {
    right: 20px;
}
.eye {
    position: absolute;
    top: 70px;
    width: 55px;
    height: 6px;
    background: var(--black);
    border-radius: 10px;
}
.eye--left {
    left: 12px;
    transform: rotate(15deg);
}
.eye--right {
    right: 12px;
    transform: rotate(-15deg);
}
.mouth{ 
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 25px;
    left: calc(50% - 15px);
    border-bottom-left-radius: 6px solid var(--black);
    border-bottom-right-radius: 6px solid var(--black);
    border-bottom: 6px solid var(--black);
    border-radius: 50%; 
}
.cheek {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 20px;
    border-radius: 50%;
    background: var(--rose);
}
.cheek--left {
    left: 20px;
}
.cheek--right {
    right: 20px;
}
